<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>

{{>navbar}}
    <!-----------  main header ------>

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--left side div-->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                        <img src="images/me.png" alt="Saransh Gautam" class="img-fluid myClass" title="Saransh" >

                        </figure>
                    </div>
                    <!--right side div-->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Sammy Weather</p>

                        <h1>I am <span class="text_clr">Saransh Gautam</span> a will be software engineer and developer</h1>
                        <a href="https://github.com/saranshgautam/" target="_blank"><button>About Me</button></a>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <!----- footer code ----->

    {{>footer}}

</body>

</html>