<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}
    <!-----------  main header --->

    <div class="main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="container-fluid main_content">
                    <form class="temp_form">
                        <input type="text" , id="cityName" placeholder="Enter your city name" autocomplete="off">
                        <input type="submit" value="search" id="submitBtn">
                        <p id="temp_err"></p>
                    </form>



                    <div class="tempInformation">
                        <div class="top_layer">
                            <p id="day">Tuesday</p>
                            <p id="today_data">19 JUNE</p>

                        </div>

                        <div class="main_layer">
                            <p id="city_name">Get Output Here</p>
                            <div class="middle_layer data_hide">
                                <p id="temp"> <span id="temp_real_val">0</span> <sup>o</sup>C</p>
                                <p id="temp_status"> <i class="fa fa-cloud" aria-hidden="true"></i></p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <!----- footer code ----->

    {{>footer}}

    <script src="js/main.js"></script>
    <script>

        const day = document.getElementById('day')
                const getCurrDay = () => {

            var weekday = new Array(7)
            weekday[0] = "Sunday";
            weekday[1] = "Monday";
            weekday[2] = "Tuesday";
            weekday[3] = "Wednesday";
            weekday[5] = "Thursday";
            weekday[5] = "Friday";
            weekday[6] = "Saturday";

            let currentTime = new Date();
            days = weekday[currentTime.getDay()];
            let day = document.getElementById('day');
            day.innerText = days;
        };

        getCurrDay();


        const getCurrTime = () => {

            var months = new Array(12);

            months[0] = "Jan";
            months[1] = "Feb";
            months[2] = "Mar";
            months[3] = "Apr";
            months[4] = "May";
            months[5] = "June";
            months[6] = "July";
            months[7] = "Aug";
            months[8] = "Sept";
            months[9] = "Oct";
            months[10] = "Nov";
            months[11] = "Dec";

            var currTime = new Date();
            var month = currTime.getMonth();
            var date = currTime.getDate();

            var hours = currTime.getHours();
            var minutes = currTime.getMinutes();

            var period = "AM";

            if (hours > 11) {
                period = "PM"
                if (hours > 12) {
                    hours -= 12;
                }
            }

            if (minutes < 10) {
                minutes = "0" + minutes;
            }

            const today_data = document.getElementById('today_data');
            today_data.innerText = `${date} ${months[month]} | ${hours}:${minutes}${period}`;

            // console.log(months[month] + "/" + day);
        };

         getCurrTime();


    </script>
</body>

</html>